* {
  box-sizing: border-box;
}


/*@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.navbar, .navbar-lg, .navbar-sm {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}*/


/*.logo {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}*/


/*
.byname-sm,
.byname-lg {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.fade-out {
  animation-name: fadeout;
  animation-duration: .1s;
}

.fade-in {
  animation-name: fadein;
  animation-duration: .5s;
}
*/


/*.logo-lg {
  margin: -87px 0 0px -160px;
  z-index: 100;
  width: 190px;
  padding: 5px;
}*/

.fp-inst {
  display: none;
  text-align: justify;
  text-justify: inter-word;
}

.logo-sm {
  margin: -64px 0 0px -160px;
  /* play with these to position the image */
  /*position:absolute;*/

  z-index: 100;
  width: 156px;
  /*background-color: #fff;*/

  padding: 5px;
}

/*.navbar-lg {
  height: 150px;
}*/
.navbar-sm {
  height: 100px;
}

/*.byname-lg {
  position: relative;
  top: -10px;
  left: 0px;
  font-size: 35px;
}*/
.byname-sm {
  position: relative;
  top: -65px;
  left: 0px;
  font-size: 45px;
}
#login-row {
  position: relative;
  top: -20px;
  font-size: 14px;
}

/*#logo {
  margin: -64px 0 0px -160px;*/

/* play with these to position the image */

/*z-index: 100;
  width: 156px;
  padding: 5px;
}*/
#contactText {
  font-size: 20px;
  width: 50%;
  float: right;
  margin-top: 120px;
}
.formTitle {
  margin-left: 20px;
}
#contactForm {
  width: 40%;
  float: left;
  margin-top: 20px;
  margin-left: -20px;
}
.byname,
.impulso-style {
  font-family: "Dancing Script", "Roboto", "San Serif";
  color: #666666;
}
.impulso-footer-font {
  font-family: "Dancing Script", "Roboto", "San Serif";
  color: #d9d9d9;
}
.impulso-hdr {
  font-family: "Dancing Script", "Roboto", "San Serif";
  color: #666666;
  font-size: 20px;
}
.logo-font {
  font-family: "Roboto", "San Serif";
  font-weight: 900;
  color: #666;
}
.logo-font:hover {
  color: white;
}
.user {
  cursor: pointer;
  color: #d9d9d9;
}
#home {
  cursor: pointer;
}
#home:hover {
  color: white;
}

/*.byname:hover {
  color: #222222;
}*/
.nav-links {
  /*font-family: 'Russo One', sans-serif;*/

  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  color: #666666;
  font-size: 15px;
}
.nav-links:hover {
  color: #222222;
}
#sign-in:hover,
#sign-out:hover {
  color: #666666;
}
.account-container {
  float: right;
  margin-left: 60px;
  min-width: 300px;
}
h1 {
  margin-top: 0px;
}
.margin-bottom-xs {
  margin-bottom: 5px;
}
.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-bottom-md {
  margin-bottom: 15px;
}
.margin-bottom-lg {
  margin-bottom: 30px;
}
.panel-font {
  font-family: "Roboto", "San Serif";
  font-weight: 900;
  color: #222222;
}
.panel-font:hover {
  color: #222222;
}
.tab-pane-mod {
  height: 660px;
  overflow: auto;
  direction: rtl;
}
.mod-md-1 {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: -50px;
}
.mod-md-2 {
  margin-left: 40px;
  background-color: white;
  border: 1px black solid;
  padding-left: 0px;
}
.paint-container {
  margin-bottom: -5px;
}

/*.paint-picker {
  position: relative;
  top: -10px;
  margin-bottom: -4px;
  }*/
.paint-color {
  margin-left: 25px;
  font-size: 14px;
}
.paint-brand {
  float: left;
  margin-right: 5px;
  margin-left: 22px;
  /*position: relative;
  top: -10px;
  margin-bottom: -4px;*/
}
.control-label {
  padding-right: 10px;
  padding-left: 10px;
}
.palette-dropdown {
  display: inline;
}
#btn-palette {
  width: 270px;
  height: 34px;
  text-align: left;
}
.caret {
  vertical-align: bottom;
  float: right;
  margin-top: 9px;
}
.palette:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.palette {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  /*margin-left: 10px;*/

  top: -50px;
}
#login-hdr {
  font-family: "Roboto", "San Serif";
  font-weight: 800;
}
div#OR {
  height: 30px;
  width: 30px;
  border: 1px solid #C2C2C2;
  border-radius: 50%;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  float: left;
  position: absolute;
  left: -16px;
  top: 40%;
  z-index: 1;
  background: #DFDFDF;
}
#reg-error,
#login-error {
  color: darkred;
  font-weight: 700;
}
.navbar {
  border: none;
  border-top: 23px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  margin-bottom: 0px;
  border-radius: 4px;
  /*min-height: 100px;*/
}
.modal-header,
.modal-footer {
  border-bottom: 1px solid black;
  background-color: #d9d9d9;
}
.modal-footer {
  border-top: 1px solid black;
  margin-left: -15px;
  margin-right: -15px;
}
.modal-body {
  /*  padding-left: 0px;
  padding-right: 0px;*/

  padding-bottom: 0px;
  background-color: #f2f2f2;
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  margin-left: 20px;
  line-height: 40px;
}
.navbar-inverse {
  background-image: none;
  background-color: #d9d9d9;
  border-color: #222222;
}
.navbar-inverse .navbar-nav>li>a {
  color: #d9d9d9;
}
.tab-padding {
  padding: 5px 15px;
}
.del-showroom,
.del-showroom-text {
  display: block;
}
#user-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 5px;
}
#user-container #user-pic {
  top: -3px;
  position: relative;
  /*display: inline-block;*/

  background-image: url("../images/profile_placeholder.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}
#user-container #user-name {
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
  color: #454545;
}
.spectrumContainer {
  background: #d9d9d9;
}
.sp-container {
  width: 240px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: solid 1px #222222;
}
.sp-palette-container {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.sp-picker-container {
  width: 200px;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
.spectrumReplacer {
  background-color: #222222;
}
.sp-replacer {
  border: solid 2px #333;
  border-radius: 3px;
  margin-top: 1px;
}
.sp-input-container {
  width: 130px;
}
.sp-replacer:hover {
  border: solid 2px #222222;
  border-radius: 3px;
  background-color: white;
  color: #222222;
}
.sp-dd {
  color: white;
}
.sp-replacer:hover .sp-dd {
  color: #222;
}
.mod-flex {
  margin-left: 50px;
  margin-right: 50px;
}
.shrink-container {
  margin-top: -50px;
}
#room-canvas {
  border: solid 1px;
  background-color: white;
}
.img-thumbnail {
  margin: 10px;
  cursor: pointer;
}
.tn-showroom {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sideways>li {
  height: 0px;
  width: 85px;
  margin-bottom: 85px;
}
.tabs-right>li {
  margin-left: 0px;
}
.full-spectrum .sp-palette {
  max-width: 200px;
}
.panel-default>.panel-heading {
  background-image: none;
  background-color: #d9d9d9;
  color: white;
}
.panel-body {
  background: #222;
  color: #eee;
}
.canvas-btns-container {
  margin-top: 35px;
}
#my-showrooms {
  padding: 20px;
  display: block;
  /*margin-right: auto;
  margin-left: auto;*/

  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Roboto", "San Serif";
  font-weight: 900;
  font-size: 20px;
}
#my-showrooms>hr {
  border-top: 3px solid #eee;
}
#my-showrooms>h2,
h3,
h4 {
  font-weight: 300;
}
.my-showroom {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
}
.showroom {
  cursor: pointer;
  display: inline-block;
  margin: 10px;
}

/*.tab-pane {
  overflow: auto;
}
*/
.btn-default {
  background-color: #222222;
  color: white;
  text-shadow: none;
  background-image: none;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default:hover {
  background-color: white;
  color: #222222;
}
.btn-default:disabled {
  background-color: #C2C2C2;
  color: #222;
}
#container {
  text-align: center;
}
.clearfix {
  clear: both;
}
*.hidden {
  display: none;
}
#canvas-toolbar {
  height: 50px;
  position: relative;
  top: 10px;
  background-color: rgba(0, 0, 0, 1);
}
.left-tool {
  float: left;
}
.right-tool {
  float: right;
}
.tool {
  height: 50px;
  color: white;
  font-weight: 100;
  padding: 13px 0px 7px 0px;
  margin: 0px 5px 0px 10px;
  cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

  background-color: #f2f2f2;
  margin-bottom: 80px;
  margin-top: 100px
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

  height: 60px;
  background-color: #222;
  border-bottom: 20px solid #d9d9d9;
}
.copyright,
.info-email {
  margin: 10px 0;
  color: #d9d9d9;
}

.info-email:hover {
  color: #fff;
}

.footer-flex-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.footer-flex-items {
  margin: auto;
  display: inline-flex;
}
.footer-flex-item-logo {
  width: 41px;
  padding: 5px;
}
.footer-flex-item {
  display: inline-flex;
}
.img-circle {
  border-radius: 50%;
}
.img-about {
  text-align: center;
  width: 200px;
  border: 3px;
  color: #909090;
  font-family: "Dancing Script", "Roboto", "San Serif";
  font-weight: 900;
  border-radius: 50%;
  display: inline-block;
  margin: 0 15px;
}
.social-links a {
  text-align: center;
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid #909090;
  background: #000000;
  border-radius: 100%;
  margin-right: 7px;
  /*space between*/

  display: flex;
  align-items: flex-start;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.social-links a i {
  font-size: 20px;
  align-self: center;
  color: #ffffff;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  margin: 0 auto;
}
.social-links a i::before {
  display: inline-block;
  text-decoration: none;
}
.social-links a:hover {
  background: #909090;
}
.social-links .social-links-footer {
  border: 0px;
  font-size: 10px;
  border-radius: 50%;
}
.other-links-footer a {
  color: #000008;
}
.other-nav-links a {
  color: #666666;
}
@media screen and (min-width: 768px) and (max-width: 1270px) {
  .mod-flex {
    margin-right: 20px;
  }

  .mod-md-2 {
    margin-left: 25px;
  }

  .byname-sm {
    position: relative;
    top: -57px;
    left: 0px;
    font-size: 20px;
  }

  .byname {
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 0px;
  }

  #btn-palette {
    width: 190px;
    height: 34px;
    font-size: 10px;
    padding: 6px 6px;
    text-align: left;
  }

  .paint-container {
    margin-left: 0px;
  }

  .paint-color {
    font-size: 10px;
  }

  .paint-brand {
    margin-left: 10px;
  }

  .account-container {
    min-width: 200px;
    margin-left: 0px;
  }

  #user-container #user-name {
    padding-left: 5px;
  }

  .nav-links,
  #user-name {
    font-size: 15px;
  }

  .about-meme,
  .contact-meme {
    position: relative;
    top: 5px;
    left: 100px;
    z-index: 100;
  }

  .impulso-hdr {
    font-size: 16px;
  }
}
@media screen and (min-width: 1270px) and (max-width: 1357px) {
  .col-custom-1350 {
    width: 50%;
  }

  #btn-palette {
    width: 190px;
    height: 34px;
    font-size: 10px;
    padding: 6px 6px;
    text-align: left;
  }

  .byname-sm {
    position: relative;
    top: -57px;
    left: 0px;
    font-size: 20px;
  }

  .byname {
    font-size: 20px;
    position: relative;
    top: 5px;
    left: 50px;
  }

  .paint-container {
    margin-left: 0px;
  }

  .paint-color {
    font-size: 10px;
  }

  .paint-brand {
    margin-left: 10px;
  }

  .account-container {
    min-width: 200px;
    margin-left: 30px;
  }

  #user-container #user-name {
    padding-left: 20px;
  }

  .nav-links,
  #user-name {
    font-size: 15px;
  }

  .about-meme,
  .contact-meme {
    position: relative;
    top: 5px;
    left: 100px;
    z-index: 100;
  }

  .impulso-hdr {
    font-size: 16px;
  }
}
@media screen and (min-width: 1357px) and (max-width: 1570px) {
  .mod-flex {
    margin-right: 20px;
  }

  .mod-md-2 {
    margin-left: 25px;
  }

  .byname-sm {
    position: relative;
    top: -57px;
    left: 0px;
    font-size: 26px;
  }

  .byname {
    font-size: 26px;
    position: relative;
    top: 0px;
    left: 20px;
  }

  #btn-palette {
    width: 220px;
    height: 34px;
    font-size: 10px;
    padding: 6px 6px;
    text-align: left;
  }

  .paint-container {
    margin-left: 0px;
  }

  .paint-color {
    font-size: 10px;
  }

  .paint-brand {
    margin-left: 10px;
  }

  .account-container {
    min-width: 200px;
  }

  .nav-links,
  #user-name {
    font-size: 15px;
  }

  .about-meme,
  .contact-meme {
    position: relative;
    top: 0px;
    left: 140px;
    z-index: 100;
  }

  .impulso-hdr {
    font-size: 22px;
  }
}
@media screen and (min-width: 1570px) {
  /*.byname-lg {
  position: relative;
  top: -75px;
  left: 0px;
  font-size: 25px;
}*/

  .byname-sm {
    position: relative;
    top: -57px;
    left: 0px;
    font-size: 30px;
    line-height: 24px
  }

  .byname {
    font-size: 30px;
    position: relative;
    top: 0px;
    left: 20px;
  }

  .about-meme,
  .contact-meme {
    position: relative;
    top: 0px;
    left: 140px;
    z-index: 100;
  }

  .paint-brand {
    margin-left: 10px;
  }

  .account-container {
    min-width: 200px;
  }

  .nav-links,
  #user-name {
    font-size: 15px;
  }

  .impulso-hdr {
    font-size: 26px;
  }
}
@media screen and (min-width: 1600px) {
  #btn-palette {
    width: 270px;
    height: 34px;
    font-size: 14px;
    text-align: left;
  }

  .paint-color {
    font-size: 14px;
  }
}
@media screen and (min-width: 1800px) {
  .mod-md-2 {
    margin-left: 25px;
  }

  .byname-sm {
    position: relative;
    top: -61px;
    left: 0px;
    font-size: 30px;
  }

  .byname {
    font-size: 30px;
  }

  .nav-links,
  #user-name {
    font-size: 20px;
  }
}
@media screen and (min-width: 2500px) {
  /*.byname-lg {
  position: relative;
  top: -85px;
  left: 0px;
  font-size: 35px;
}*/

  .byname-sm {
    position: relative;
    top: -65px;
    left: 0px;
    font-size: 35px;
  }

  .byname {
    font-size: 35px;
  }

  .nav-links,
  #user-name {
    font-size: 25px;
  }

  .impulso-hdr {
    font-size: 26px;
  }
}